include includes/header
.container-fluid
    h1 Scrape from IMDB
.container-fluid
    form
        input(
            type="text"
            placeholder="Search"
            name="searchText"
            required
        )
        button.btn(
            type="submit"
        )
